# Copyright (c) 2016, 2021, Oracle and/or its affiliates.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is also distributed with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have included with MySQL.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

[mysqld]
# 同一局域网内唯一
server-id=100
# 开启二进制日志功能，以备slave作为master使用
log-bin=master-bin
# 忽略二进制的数据库
binlog-ignore-db=mysql,information_schema,performance_schema
# 二级制日志格式，row, statement, mixed
binlog-format=ROW
# sync_binlog默认值0，依赖操作系统来刷新二进制日志。>0时，binlog在每Ｎ次binlog写入后与硬盘同步。1最安全但是IO要求高
sync_binlog=0
# innodb_flush_log_at_trx_commit默认值0，每隔一秒把事务日志缓存区的数据写到日志文件中，以及保存到磁盘。1，每个事务提交。2，每个事务提交刷新，每隔一秒保存。
innodb_flush_log_at_trx_commit=0

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
